.articles {
	background-color: $veryLightGray;
}

.article {

	&__grid {
		display: grid;
		grid-template-columns: 1fr;
		// if you don't want to use media queries, or don't have an even amount of items, you can forget about media queries and use this:
		// grid-template-columns: repeat(auto-fit, minmax(14.375rem, 1fr));
		gap: 1.875rem;
	}

	&__item {
		background-color: $white;
		border-radius: 0.3125rem;
		overflow: hidden;
		box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
		transition: transform 200ms ease-in-out;

		&:hover {
			transform: scale(1.05);
		}
	}

	&__image {
		height: 12.5rem;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}

	&__text {
		padding: 1.875rem 1.875rem 2.5rem;
		color: $grayishBlue;
	}

	&__author {
		font-size: 00.625rem;
		margin-bottom: 0.75rem;
	}

	&__title {
		color: $darkBlue;
		font-size: 1.0625rem;
		line-height: 1.2;
		margin-bottom: 0.5rem;
	}

	&__description {
		font-size: 0.8125rem;
	}

	// Media Queries

	@media (min-width: $breakpoint-up-md) {

		&__grid {
			grid-template-columns: repeat(2, 1fr);
		}

		&__text {
			padding: 1.875rem 1.5625rem;
		}
	}

	@media (min-width: $breakpoint-up-lg) {

		&__grid {
			grid-template-columns: repeat(4, 1fr);
		}
	}

}